@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a{
    font-family: "Abel", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
} 

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

.header ul{
	text-align:right;
 	padding-left: 20px;
  	align-items: center;
}

ul li{
	list-style: none;
	display: inline-block;
	padding: 0px 35px;

}

.header ul li a{
	display:block;
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;
	font-size: 20px;
	font-family: "Abel", sans-serif;
	letter-spacing: 2px;
	padding: 10px;
	transition: all ease 0.5s;
	border-radius: 20px;
}

.header ul li a:hover{
	background-color: #393E46;
	color: #827bc6;
}

.site-logo{
	cursor: pointer;
} 

.contact{
	padding:9px 25px;
	background-color: #827bc6;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	text-transform: uppercase;
	font-family: "Abel", sans-serif;

    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.contact:hover{
	background-color: #4b429a;
}

.bg-gradient{
	height: 100vh;
  	background-image: linear-gradient(to bottom, #222831, #262c35, #2a3039, #2f343d, #333841, #38424e, #3c4c5b, #3f5768, #3c6b80, #338196, #2197a8, #00adb5);
	position: relative;
}

.page-divider{
    display:flex;
    max-width: 1500px;
}

.container{
	padding: 20px;
	width: 1200px;
	height: 500px;
    
    display: block;
}

.container .options{
    font-family: "Abel", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
    margin:20px;
}

iframe{
    width: 800px;
    height: 500px;
    border-color: #827bc6;
}

input[type=submit]{
    background-color:#00c9b7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
}

input[type=submit]:hover{
    background-color:#089f92;
}

.option-title{
    color:#00c9b7;
    text-align: center;
}