.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fields-container {
	width: 55%;
	padding-left: 2%;

	display: grid;
	grid-template-rows: 17% 34% 8% 17% 17% 12%;
	grid-template-columns: 0.5fr 0.2fr 0.5fr;
	justify-items: center;
	row-gap: 2%;
}

label {
	color: white;
	font-size: 0.8rem;
	font-family: "Abel", sans-serif;
}

input,
select,
textarea {
	width: 100%;
	padding: 5px;
	font-size: 0.7rem;
	font-family: 'Abel', sans-serif;
	font-weight: bold;
	border: 2px solid;
	border-radius: 4px;
	resize: none;
}

input[type="file"] {
	width: 95%;
	color: white;
}

input[type="range"] {
	padding: 0;
	accent-color: white;
}

.name-title,
.qr-title {
	margin: auto;
	color: #dcd61c;
	font-size: 1.4rem;
	font-family: "Abel", sans-serif;
	text-align: center;
}

.tooltip-text {
	display: none;
}

.preview {
	width: 42%;
	margin-right: 2%;
	background-color: white;
	border-color: #dcd61c;
	border-width: 1%;
	border-radius: 4%;
}

.issuer-field {
	grid-row: 1 / 2;
}

.date-field {
	grid-column: 2 / 3;
}

.file-field {
	grid-column: 3 / 4;
	margin-left: 15%;
}

.names-field {
	grid-row: 2 / 3;
}

.size-field {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.font-and-color-field {
	width: 70%;
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

.name-title {
	grid-row: 3 / 4;
}

.x-name-field {
	grid-row: 4 / 5;
}

.y-name-field {
	grid-row: 5 / 6;
}

.qr-title {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}

.x-qr-field {
	grid-row: 4 / 5;
	grid-column: 3 / 4;
}

.y-qr-field {
	grid-row: 5 / 6;
	grid-column: 3 / 4;
}

.button {
	width: 120%;
	grid-row: 6 / 7;
	grid-column: 2 / 3;
	background-color: #dcd61c;
	border: none;
	border-radius: 20px;
	text-transform: uppercase;

	color: white;
	font-size: 0.8rem;
	font-family: "Abel", sans-serif;
	cursor: pointer;
}

.button:hover {
	background-color: #bfba21;
}

@media (min-width:375px) and (max-width:600px) {
	.container {
		flex-direction: column;
	}

	.fields-container {
		width: 60%;
		margin: auto;
	}

	.preview {
		width: 60%;
		margin: auto;
		margin-top: 10%;
	}
}

@media (max-width:375px) {
	.container {
		flex-direction: column;
	}

	.fields-container {
		width: 53%;
		margin: auto;
	}

	.preview {
		width: 50%;
		margin: auto;
		margin-top: 10%;
	}
}