h4 {
	margin: 0;
}

.page-title {
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;

	color: #dcd61c;
	font-family: "Orbitron", sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subtitle {
	padding-top: 0.8%;
	color: white;
	font-size: 1.2rem;
	font-family: "Abel", sans-serif;
	text-align: center;
}

.button {
	margin: auto;
	margin-top: 2%;
	padding: 0.7% 1.5%;
	background-color: #dcd61c;

	border: none;
	border-radius: 20px;
	cursor: pointer;

	color: white;
	font-size: 0.8rem;
	font-family: "Abel", sans-serif;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button:hover {
	background-color: #bfba21;
}

.console {
	display: none;
	margin: auto;
	padding: 1% 0%;
	padding-left: 2%;
	padding-right: 1%;
	border-radius: 20px;

	font-size: 1.1rem;
	font-family: "Abel", sans-serif;
	font-weight: bold;
	white-space: pre-line;
	resize: none;
}

.typewriter {
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .15em;
	border-right: .15em solid rgb(255, 255, 255);
	animation:
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: rgb(255, 255, 255);
	}
}
