* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li,
a {
	font-family: "Abel", sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #edf0f1;
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10%;
}

.header ul {
	text-align: right;
	padding-left: 20px;
	align-items: center;
}

ul li {
	list-style: none;
	display: inline-block;
	padding: 0px 35px;
}

.header ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-family: "Abel", sans-serif;
	letter-spacing: 2px;
	padding: 10px;
	transition: all ease 0.5s;
	border-radius: 20px;
}

.header ul li a:hover {
	background-color: #051937;
	color: #bfba21;
}

.site-logo {
	cursor: pointer;
}

.contact {
	padding: 9px 25px;
	background-color: #dcd61c;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	text-transform: uppercase;
	font-family: "Abel", sans-serif;

	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}

.contact:hover {
	background-color: #bfba21;
}

.bg-gradient {
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to bottom, #051937, #00214f, #002968, #093181, #1f379a);
	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
}

.card {
	padding-top: 15px;
	font-family: "Abel", sans-serif;
	font-weight: normal;
	color: #fff;
}

.page-title {
	font-family: "Orbitron", sans-serif;
	font-size: 34px;
	font-weight: bold;
	letter-spacing: 10px;
	color: #dcd61c;
}

.console {
	padding-top: 20px;
}

#console {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 10px;
	border-radius: 20px;
	font-family: "Abel", sans-serif;
	font-weight: bold;
	font-size: 25px;
	resize: none;
	display: none;
	white-space: pre-line;
}

.button-box {
	padding-top: 30px;
}

.start {
	padding: 9px 25px;
	background-color: #dcd61c;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;

	text-transform: uppercase;
	font-family: "Abel", sans-serif;

	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}

.start:hover {
	background-color: #bfba21;
}

h4 {
	font-size: 30px;
}

footer {
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100vw;
	font-family: "Abel", sans-serif;
	padding-top: 40px;
	color: #fff;

	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

footer .haraya-logo {
	padding-right: 10px;
	padding-bottom: 10px;

	position: absolute;
	top: 1;
	bottom: 0;
	left: 1;
	right: 0;
}

footer p {
	font-size: 14px;
	text-align: center;
}

.typewriter {
	overflow: hidden;
	border-right: .15em solid rgb(255, 255, 255);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation:
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: rgb(255, 255, 255);
	}
}