.page-title {
  margin: 2% 0%;
  text-align: center;

  color: #dcd61c;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.3rem;
}

h2 {
  margin: 0;
}

.container {
  width: 30%;
  padding-left: 6%;
  align-self: center;

  display: grid;
  grid-template-rows: 25% 24% 25% 24% 20%;
  grid-template-columns: 2fr 0.7fr;
  justify-items: flex-start;
  row-gap: 7%;
  column-gap: 2%;
}

.username-label {
  grid-row: 1 / 2;
}

.username-input {
  grid-row: 2 / 3;
}

.password-label {
  grid-row: 3 / 4;
}

.password-input {
  grid-row: 4 / 5;
}

.username-label,
.password-label {
  color: #fff;
  margin: 0;
  font-family: "Abel", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

input {
  width: 100%;
  font-size: 0.8rem;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  border: 3px solid;
  border-radius: 4px;
  border-color: black;
}

.button-show {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.button-submit {
  grid-row: 5 / 6;
  grid-column: 1 / 2;

  width: 100%;
  text-transform: uppercase;
}

button {
  background-color: #dcd61c;
  border-radius: 10px;
  border: none;

  color: white;
  font-family: "Abel", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #bfba21;
}