.page-title {
	margin: 2% 0%;
	text-align: center;

	color: #dcd61c;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: "Orbitron", sans-serif;
	letter-spacing: 0.3rem;
}

h2 {
	margin: 0;
}

article {
	display: flex;
	justify-content: center;
}

.container {
	padding: 0% 2%;
	width: 70%;
	color: white;
	font-family: "Abel", sans-serif;
}

.screenshot {
	max-width: 1400px;
	min-width: 100px;
	width: 100%;
}

.note {
	margin-top: 0;
	color: #edf0f1;
	font-size: 0.7rem;
	font-weight: normal;
	font-style: oblique;
	text-align: center;
}

.heading {
	padding-top: 3%;
	font-size: 1.1rem;
	font-weight: 550;
}

.paragraph {
	padding-left: 1%;
	color: #edf0f1;
	font-size: 0.85rem;
	font-weight: normal;
	line-height: 1.2rem;
}