.page-title {
  margin: 2% 0%;
  text-align: center;

  color: #dcd61c;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.3rem;
}

h2 {
  margin: 0;
}

.container {
  color: white;
  display: flex;
  justify-content: center;
}

.container-label {
  padding-left: 2%;
  font-size: 1.05rem;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.3rem;
}

.container-data {
  padding-left: 2%;
  font-size: 1.02rem;
  font-family: "Abel", sans-serif;
}